@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainBtn {
    @apply bg-slate-50 text-gray-400 w-fit
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
}