@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainBtn {
    @apply bg-slate-50 text-gray-400 w-fit
  }
  .headline{
    @apply text-2xl font-bold text-gray-800 mb-4
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.adminMainSection{
  @apply flex p-5 bg-mainBg3;
}