@tailwind components;
@tailwind utilities;

.mainContainer {
    @apply flex flex-col fixed top-[82px] left-0 w-screen items-center justify-center min-h-[83vh] gap-6 p-6 bg-white
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes rotate {
    0% {
        stroke-dashoffset: 251.2;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes pulseCustom {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

@keyframes stripes {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.progressBar {
    animation: progress 2s infinite alternate ease-in-out;
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-0.4em);
    }
}

.dot {
    display: inline-block;
    animation: wave 1.3s infinite ease-in-out;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}